# Backend authentication app - Okta Base URL
BASE_URL=https://<Your okta org>.okta[preview].com

# Backend authentication app - Client ID
CLIENT_ID=<Enter Client ID>

# Backend authentication app - Client Secret
CLIENT_SECRET=<Enter Client Secret>

# Authentication provider module. Must be the same name as the JS file present under "authenticators" directory
PROVIDER=loopback