extends layout
block content
    div.text-center
            
        - var h1Classes = ['h3', 'mb-3', 'font-weight-normal']
        h1(class=h1Classes) Password reset initiated
            
        - var pClasses=['mt-5', 'mb-3', 'text-muted'];
        p(class=pClasses)